/* 
////// For this challenge ///////

- All text is in the text.md file

// Requirements
   1. Get all the navigation items next to one another
   2. Add a space between all the items
*/

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    line-height: 140%;
}

h1,h2{
    line-height: 120%;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 3rem;
    margin-top: 0;
}

.nav-toggle {
    display: none;
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    border-radius: 50%;
    background: #072a2d;
    color: white;
    transition: opacity 250ms ease;
    position: absolute;
    left: 0;
  }


.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}


.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}


.section-title {
    color: #87629A;
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase; 
    color: #23424A;
    font-weight: 900;
    background-color: #38CFD9;
    padding: .75em 2em;
    border-radius: 100px;
}

.btn:hover,
.btn:focus {
    opacity: .75; 
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col {
    /* these are now flex items */
    width: 100%;
}

.col + .col {
    margin-left: 30px;
}


header {
    background: #136c72;
    padding: .5em 0;
}



.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 80%; 
    justify-content: space-between;
    gap: 0.7rem;
    font-size: 1rem;
}

.nav__link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;;
}

.nav__link--button {
    background: #fff;
    color: #136c72;
    padding: .25em 1em;
    border-radius: 10em;
}

.nav__link:hover {
    opacity: .75;
}

.reset{
    align-items: center;
}

.hero {
    padding: 100px 0;
    background-color: #23424A;
    color: #FFF;
}

.hero__text { 
    width: 62%;
}

.hero__img {
    width: 32%;
    align-self: flex-start;
}

.hero p {
    margin-bottom: 3em;
}

.main {
    margin-top: 3em;
}

.primary-content {
    width: 62%;
}

.sidebar {
    width: 32%;
    padding: 1em;
    text-align: center;
    color: #fff;
    background-color: #136c72;
}

.notcenter{

    font-size: 0.75em;
    justify-content: flex-start;
    gap : 2em
}

.nav{
    padding: 0.75em 0;
}

@media (max-width : 600px) {
    .nav-toggle{
        display: block;
    }
    .row{
        display: block;
    }
    
    .hero__text , .hero__img , .primary-content , .sidebar, .nav__row{
        width: 100%;
    }
    .hero__img, .sidebar{
        margin-top: 3rem;
    }
    .nav__row{
        display: flex;
        justify-content: space-between;
    }
    .nav__list{
        display: none;
    }
    
    .nav__item:not(:last-child){
        margin-bottom: 0.1rem;
    }
    .nav{
        text-align: center;
    }

}